.blue{
    position: relative;
    height: 500px;
    border: 2px solid;
}
.red{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: pink;
    transform: translate(-50%,-50%);
   
}